/* Base body styles */
body {
    background: linear-gradient(#f2f3f4, #FAF9F6);
    background-attachment: fixed;
    padding-top: 1.75%;
    padding-bottom: 2%;
}

header {
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    padding-bottom: 15px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none; /* Remove underline */
    color: black;
}

a:hover {
    color: #333;
}

/* Image Container for the Header Section */
.header-section {
    display: flex;
    background-color: #f2f3f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.text-container {
    flex: 3;
    padding-right: 2%;
    padding-left: 2%;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 420px;
}

/* Styles for the Index Page (Small images in store section) */
.store-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.store-section .item:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.item {
    flex: 0 0 calc(33.33% - 10px); /* Makes the items fit in 3 columns */
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    background-color: #f2f3f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 150px; /* Set a fixed width for the images on the index page */
    height: 200px; /* Set a fixed height to maintain aspect ratio */
    padding-top: 5px;
    border-radius: 10px;
}

.item h3, .item p {
    margin: 5px 0;
    color: #000;
}

/* Styles for the Item Page (Larger images) */
.item-detail {
    text-align: center;
    padding: 20px;
}

.item-detail img.item-image {
    max-width: 80%; /* The image width will be 80% of its container */
    height: auto;
    margin-bottom: 20px; /* Space below the image */
    border-radius: 10px; /* Optional: To match the border-radius from index */
}

.item-detail h2, .item-detail p, .item-detail h3 {
    margin: 10px 0;
}

/* Add responsiveness for smaller screens */
@media (max-width: 768px) {
    .store-section .item {
        flex: 0 0 calc(50% - 10px); /* 2 items per row on smaller screens */
    }

    .item img {
        width: 120px;
        height: 160px;
    }

    .item-detail img.item-image {
        max-width: 90%; /* Slightly smaller image on smaller screens */
    }
}
