body {
    background: linear-gradient(#white, #gray);
    background-attachment: fixed;
    padding-top: 1.75%;
    padding-bottom: 2%;
}



header{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    padding-bottom: 15px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.header-section {
    display: flex;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-link {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown a:hover {
    background-color: white;
}

.icon {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 3px 0;
    transition: background-color 0.3s ease;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 15px;
    padding: 1px;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown.active .icon {
    background-color: transparent;
}

.dropdown.active .dropdown-menu {
    display: block;
}




.image-container {
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.text-container {
    flex: 3;
    padding-right: 2%;
    padding-left: 2%;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 420px;
}




h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    color: white;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 24;
    text-align: center;
    color:#000;
}

p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}


.store-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.store-section .item:hover {
    transform: scale(1.2);
}

.item {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #A9A9A9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100px;
    height: 150px;
    padding-top: 10px;
}

.item h3, .item p {
    margin: 5px 0;
    color: #000;
}

.item h2 {
    color: black;
}
