<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title> Demo Site </title>
</head>

<body>

    <header>
        <a href="/" class="logo-link">
            Website Sample
        </a>
    </header>

    <section id = itemDetails>
        <script>

            function getQueryParam(param) {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                return urlParams.get(param);
            }

            const itemName = getQueryParam('item');

            loadItemData(itemName);

        </script>
    </section>

</body>
</html>
